[2019-09-06 21:16] madiedgar opened #1 "feat: sync tree-sitter-python v0.15.0"
**NOTE**: This repository was originally forked from [`tree-sitter/tree-sitter-python`](https://github.com/tree-sitter/tree-sitter-python).

Some updates included in `tree-sitter-python` version 0.15.0:
- node type introduction
- update parser to reflect new changes with node types
- upgrade tree-sitter-cli to ^0.15.5
- update `corpus/*.txt` to incorporate block statements + new syntax

[2019-09-07 00:06] #1 closed

[2019-09-07 00:33] madiedgar opened #3 "feat request: sync automation for tree-sitter-python updates"
To stay updated with the tree-sitter official updates for the repositories, we can create a script that will sort through changes in the `corpus/*.txt folder` attributes. For the most part the txt files follow a similar pattern to what's below:
[code]
The difficult part is that there will always be differences with the files, as the legesher keywords will make it seem like there are a lot of chang

[2019-09-09 22:30] madiedgar opened #4 "bug: fix node binding for tree_sitter_python_legesher"
Receiving this error in language-legesher-python:
[code]

After much debugging of updating the xcode version, making sure the node / npm / electron / atom versions align, and updating the rest of my development environment, I eventually figured out that I had two different names within my node bindings: `tree_sitter_python_legesher` and `tree_sitter_legesher_python`. This pull request is an effort

[2019-09-09 23:20] madiedgar commented on #4
Welp, that wasn't the solution. Been searching through a lot of documentation. This seems to be a great resource with lots of suggestions.

[Thank you stack overflow](https://stackoverflow.com/questions/25706216/what-does-a-cannot-find-symbol-compilation-error-mean)

[2019-09-17 07:34] madiedgar commented on #4
It was solved by cleaning and rebuilding the package through atom.

[code]

[2019-09-17 07:34] #4 closed

[2019-09-18 12:53] madiedgar opened #6 "docs: update repository according to legesher template"
## Elements of the **Legesher** Project Template include:

### `tree-sitter-legesher-python`
- [x] Update `README.md`
  - [x] Add Social Media
  - [x] Add custom Legesher image
  - [x] Add **Getting Started** section
  - [x] Add **Testing** section
  - [x] Add correlated shield badges

<details><summary><img src="https://img.shields.io/badge/Tree_Sitter_Legesher_Python-0.15.1-f58977.svg?logo=data:

[2019-09-25 13:39] madiedgar opened #7 "style: add linting rules"
## Add Unibeautify Linting

Being able to have formatted code that is aligned with the style guide is extremely important, not just for learning best practices but for the future of this project.

- [ ] Please add a `.unibeautifyrc.json` file with a linting configuration to match the languages used within this repository.
- [ ] Please correct the current files to match the linting configurations (

[2019-09-25 13:41] madiedgar commented on #6
Linting will be resolved with #7 [style: add linting rules](https://github.com/legesher/tree-sitter-legesher-python/issues/7)

[2019-09-25 15:02] #6 closed

[2019-09-25 15:18] madiedgar opened #9 "build: clean versioning and releases from fork"
## Update Versions & Releases

As this project started as a fork from Tree-Sitters [`tree-sitter-python`](https://github.com/tree-sitter/tree-sitter-python), we continued from the current versioning of the original repository instead of starting anew.

To set this apart, I think it would be helpful to do the following:
- [x] delete old versions & releases from the old repository
- [ ] start a deta

[2019-09-25 15:43] madiedgar opened #10 "ci: add code coverage"
## Code Coverage

Though attaining and maintaining a 💯code coverage report is a great goal to set, we want the focus to rather be on code quality. Code coverage with a repository that changes the identifying features of a language makes it a little more difficult to report on code coverage, but open for ideas / suggestions / pull-requests.

[2019-09-25 15:54] LeonardoFurtado commented on #10
Why not use coveralls.io?

[2019-09-25 16:13] madiedgar commented on #10
That's a great suggestion @LeonardoFurtado! I've never used coveralls before, would you want to open a pull request and test it out? 😄

[2019-09-25 16:39] madiedgar opened #11 "feat: add Github Actions for fork repo updates"
## Github Actions for tree-sitter-python updates

This repository is forked from Tree-Sitter's [`tree-sitter-python`](https://github.com/tree-sitter/tree-sitter-python). Would love to set up a GitHub action that does the following:

- listens for pushes made to the `master:` branch of the `tree-sitter-python` repository
- When a push is made, create an issue in `tree-sitter-legesher-python` to che

[2019-09-25 17:37] LeonardoFurtado commented on #10
I will do it :)

[2019-09-25 19:39] RedHoodJT1988 commented on #6
Hello, I would like to partake in this for Hacktoberfest. I was wondering what all is needed. Could you send me an email with some of the tasks needing to be completed? jonathanedwardreeves1988@gmail.com. This is my first attempt at open-source contributions and I really love using Python so I thought this would be a great opportunity. Thanks.

[2019-09-26 14:05] madiedgar opened #12 "marketing: add project to "awesome-for-beginners""
## Awesome-For-Beginners

Would love to add this repository to the python section for the [`awesome-for-beginners`](https://github.com/MunGell/awesome-for-beginners#python) repository for new programmers / open sourcers to learn about contributing to Legesher.

Please use label: `good-first-issue` or `Opportunity: Technical Beginner`. More details can be found in their pull request template.

[2019-09-26 14:26] madiedgar opened #13 "marketing: add repository to "awesome-for-non-programmers""
## Awesome-For-Non-Programmers

Would love to add this repository to the [`awesome-for-non-programmers`](https://github.com/szabgab/awesome-for-non-programmers) repository for non programmers to learn about open source opportunities that don't require a technical background.

With the Legesher project, there are a lot of opportunities for people of all backgrounds to contribute the skills they eit

[2019-09-28 12:56] jonathan-alvaro commented on #13
Can I be assigned to this?

[2019-09-28 14:47] madiedgar commented on #13
Absolutely @jonathan-alvaro! 👍

[2019-09-29 00:46] jonathan-alvaro commented on #13
I think someone already made a PR for this @madiedgar

[2019-09-29 00:56] madiedgar commented on #13
Yes, thanks for checking! @Navneet78 made a pull request to add the `legesher-dot-io` repository to the list. Since there are a lot of items for non-programmers for all of the Legesher repositories, I added the same issue on each repo.

Not sure what the maintainers of the `awesome-for-non-programmers` do for multiple repositories of an organization. 🤷‍♀If you can look into that, I'll assign you t

[2019-09-29 04:00] madiedgar opened #14 "💻 🎃 Welcome to Hacktoberfest 2019🎃 💻"
![image](https://user-images.githubusercontent.com/7844510/65824802-ae32f100-e23c-11e9-838a-dc28384dcce7.png)

# Welcome to [Hacktoberfest](https://hacktoberfest.digitalocean.com/)
..and welcome to our community! So many fun things to get into this Hacktoberfest like [adding translations for your native written language 🌏 ](https://github.com/legesher/legesher-translations), [sharpening & sharing

[2019-09-29 19:25] wescran commented on #12
Hello, I would like to help with this issue if it is still available :)

[2019-09-29 19:34] madiedgar commented on #12
Awesome @wescran, that would be great! Let me know if you need any help 😄I'll assign you to this issue. 👍

[2019-10-01 00:28] wescran commented on #11
Hello again! I'm new to GitHub Actions but am willing to take a shot at this.

[2019-10-01 04:28] madiedgar commented on #11
That would be amazing @wescran! Thanks for being willing to get your feet wet with new things! 😄 I'll update this issue with some more thoughts as to what might be helpful, and please feel free to add what you find as well! Excited to utilize this feature!

[2019-10-01 16:32] madiedgar opened #16 "docs: update README with travis & appeyor shields"
## README Updates
The two shields `travis` and `appeyor` in the README have a couple of minor updates. Currently, the badge does not have the `logo` or `logoColor`. The shield should look something like this:

`https://img.shields.io/travis/com/legesher/tree-sitter-legesher-python/?style=flat-square&labelColor=black&logo=travis&logoColor=white`

<a href="https://travis-ci.com/legesher/tree-sitter-

[2019-10-01 22:15] wescran commented on #12
@madiedgar I am just about ready to make the PR on the [`awesome-for-beginners`](https://github.com/MunGell/awesome-for-beginners#python) repository. The link needs a project description and I just wanted to run this by you before submitting.

What do you think? Or would you prefer something else?

[2019-10-02 13:19] madiedgar commented on #12
Thanks @wescran for checking in! Hmm, this is the fun part 🤔. We're still working on how to introduce more advanced topics like compilers and programming language grammars to a beginner audience. What do you think about simplifying the description to highlight the ability to `learn and code in Python using your native language`?

[2019-10-02 13:45] wescran commented on #12
Okay thanks for the input! I have shortened the description to what you suggested. I will make the PR shortly.

[2019-10-02 13:46] madiedgar commented on #12
Awesome, thanks @wescran 👍

[2019-10-02 17:23] LeonardoFurtado commented on #16
Assigne me, i don't know appeyor but I will search for it

[2019-10-02 20:21] wescran commented on #12
The PR has been merged, you can see the entry [here](https://github.com/MunGell/awesome-for-beginners#python)! Let me know if there is anything else I need to do for this issue.

[2019-10-03 03:46] madiedgar commented on #12
Amazing!!! Thank you so much! I'm adding `allcontributors` to the project, so you can get credit for this within our project as well (and get you another pull request!). I'll update you when that's configured 😄 Thanks again!!

[2019-10-03 03:46] #12 closed

[2019-10-03 14:23] #16 closed

[2019-10-03 14:40] madiedgar commented on #11
Hey @wescran, I updated the issue description with a little more insight into what this Github Action might do. Let me know if you have any questions 😄

[2019-10-03 14:43] madiedgar commented on #10
Hey @LeonardoFurtado! Thanks for contributing to issue #16! 🎉 Can I help in anyway for this one?

[2019-10-03 15:04] madiedgar opened #19 "docs: update README with new project list"
## Update README with new project list

Yay for updated documentation! We added a new repository just for non-programmers and thus need to update our repositories project list with the new information! 🎉

The [Legesher Projects](https://github.com/legesher/tree-sitter-legesher-python#legesher-projects) section of the README needs to be updated in the following ways:

- [ ] Add the last bullet poin

[2019-10-03 16:19] ShubhamRattra commented on #14
can i contribute in this

[2019-10-03 16:27] madiedgar commented on #14
Absolutely @ShubhamRattra! What types of contribution do you want to make? Is there a specific language / topic you're wanting to learn more about or work in ?

[2019-10-03 16:51] wescran commented on #11
Awesome, thanks for the update! I will get started on this

[2019-10-03 17:19] madiedgar commented on #12
In the meantime, thank you @wescran!  🎉🎉🎉 ❤️ THANK YOU THANK YOU THANK YOU ❤️ We'd love to celebrate you and your contribution to the community. Let us say "Thank You" again, by sending you a [special gift](https://madi357705.typeform.com/to/wzub4R)!

We couldn't thank you enough for your contribution. We hope you continue sharing your gifts and knowledge with not just us, but with the world aroun

[2019-10-03 17:54] Eshan-Agarwal commented on #19
Ok I want to pick this ?

[2019-10-03 17:58] madiedgar commented on #19
Absolutely! I'll assign you 😄

[2019-10-03 18:08] Eshan-Agarwal commented on #19
Can i send you PR?

[2019-10-03 18:22] Eshan-Agarwal commented on #19
Done , I send PR

[2019-10-03 18:29] #19 closed

[2019-10-03 22:59] wescran commented on #11
@madiedgar I have a question after doing some research on this topic.

Workflows can be triggered from a `push` event but I'm not sure how to trigger the workflow from a push on a repository outside of the one the workflow is in. Maybe I have missed something in the docs. Would you be able to help with that/provide a hint?

I was also looking into webhooks and those could be used to monitor a repo

[2019-10-03 23:25] madiedgar commented on #11
Hey @wescran 👋! Happy to provide some context:

This was definitely a _want_ not a _need_, as I'm still learning what all GitHub actions can be utilized for. Trying to trigger `push` events from another repository would be the way I would approach it, but if Actions doesn't support that we may need to explore another solution. 😄 Is it the same for `releases` as well?

Thanks for looking into that!

[2019-10-03 23:59] wescran commented on #11
@madiedgar Yes I believe all the event triggers only work on the repository the workflow is in. I was looking into the GitHub api and there might be potential in querying the commits or releases for `tree-sitter-python`. I can experiment with that and get back to you

[2019-10-04 01:35] arian81 commented on #14
I want to contribute to this project but I'm a total beginner so I don't know how to help

[2019-10-04 01:38] madiedgar commented on #14
You're in the perfect place @arian81! Let's start with [this issue](https://github.com/legesher/legesher/issues/53) and I'll walk you through it! 😄

[2019-10-04 09:10] Aadithyavarma commented on #14
Hi all,
I want to contribute to this project. I have some experience in Python but I am totally new to open source contributing. So some one please help me find a bug and what are the steps to take it up.

[2019-10-04 13:38] elissavetv commented on #14
Hi! I want to contribute as well! I am working on Python! :)

[2019-10-04 15:59] madiedgar commented on #14
Amazing!! Welcome @Aadithyavarma and @elissavetv 👋 Python is our jam right now. lol 😉. Let me release a couple of python issues for y'all! They will most likely be within the [`tree-sitter-legesher-python`](https://github.com/legesher/tree-sitter-legesher-python) repository or the [`language-legesher-python`](https://github.com/legesher/language-legesher-python) repo 👍

[2019-10-04 16:14] NicoleWilbur commented on #14
I'm here too as a newbie. I know just enough Python to feel like I know nothing at all, but I'm learning. And if you have any documentation needs, I can write and edit with the best of them!

[2019-10-04 16:19] madiedgar commented on #14
Hey @NicoleWilbur 👋 ! We're all learning 😄 happy to have you here! All y'all python lovers 🐍 will have some fun things to do soon! The [`legesher-docs`](https://github.com/legesher/legesher-docs) repository holds all of our documentation if you want to look into that!

[2019-10-04 17:37] Aadithyavarma commented on #3
Hi,
This one looks interesting!. Can someone give more info about this so that I can prep now and start it as soon as #11 is completed. Also I am going through the repo now.

[2019-10-04 17:55] madiedgar commented on #3
Absolutely @Aadithyavarma, I'll refine the issue description and assign you to this issue 👍 Thank you!

[2019-10-04 18:27] calra123 commented on #7
Hi @madiedgar I am new to Open source, I would like to help with this issue. Do we need to add a new file ? or append it in the readme and as you mentioned above, it would be dependent on the programming language. So what exactly needs to be done ? Thanks

[2019-10-04 19:23] madiedgar commented on #7
Hey @calra123 👋 Thanks for wanting to contribute! 🎉  Happy to have you!

To resolve this issue, it will probably include a few extra linting config files and an updated `package.json`. I'll update the issue description with a better description of the task at hand! 😄

[2019-10-05 08:16] Aadithyavarma commented on #3
Let me just brief what I understood from this. Please correct me if required.

There are different txt files in corpus folder. The task is to check if the AST(Abstract Syntax Tree) is matching the code above `---`. For example,

`testawaitlegesher i(j, 5)` is matching

[code]
if it is not matching, then do an action. Is this the requirement?

Also, I am seeing some scripts in `examples` folder. Do

[2019-10-05 16:21] Aadithyavarma commented on #3
Quick question, not sure if this is the correct place to post, please do tell me where to post this otherwise. I am trying to install language-legesher-python package in Atom but I am getting the below error:
[code]
Part of the log
[code]

Can someone help me?

[2019-10-05 19:03] MythreyaK commented on #9
How do I get started with this?

[2019-10-05 20:56] madiedgar commented on #3
Looking into this @Aadithyavarma ^^

[2019-10-05 21:11] madiedgar commented on #3
You're doing great @Aadithyavarma! In response to your first comment:

Almost - the task is to sync `tree-sitter-legesher-python` with any updates from `tree-sitter-python`. We must check if the `tree-sitter-legesher-python`'s AST is matching the AST in [`tree-sitter-python`](https://github.com/tree-sitter/tree-sitter-python).

Using your example above, the line `testawaitlegesher i(j, 5)` in this

[2019-10-05 21:45] madiedgar commented on #9
Hey @MythreyaK, can you look into the [`semantic-release`](https://www.npmjs.com/package/semantic-release) package and see what we need to implement to our project to successfully use this?

I can get you the information for the version of tree-sitter-python it is synced with and delete the releases that aren't from this specific project. 😄

[2019-10-06 13:09] MythreyaK commented on #9
From what I've understood, the first step needs to be completed by the repo maintainer, since `semantic-release` asks for GitHub and npm credentials, with additional setup. After that, I can change the `.travis.yml` and `package.json` files.
<sub>*Newbie here! Do let me know if I'm off track </sub>

[2019-10-06 18:19] Aadithyavarma commented on #3
Hi,

Let me just repeat it back to be clear,

- Compare the ASTs in `tree-sitter-legesher-python` and `tree-sitter-python`

- If any one of the AST does not match, sync the changes in `tree-sitter-python` to  `tree-sitter-legesher-python`

Below is how I plan to tackle this,

- I can read the files in `corpus` folder in `tree-sitter-python`, using `requests` module in Python.

- That I can compare

[2019-10-07 08:40] startonmonday commented on #13
Hi! I'm a native Russian speaker. I can help with translation with pleasure.

[2019-10-07 09:00] elissavetv commented on #14
Hi @madiedgar! Thanks for the welcome. Can I pick up any issue now from those 2 repos? Or have they already been resolved? Many thanks, looking forward to helping.

[2019-10-07 21:18] wescran commented on #11
Hey @madiedgar, just an update from over the weekend. So I managed to get started on making my own action. It basically queries a defined public repo using the GutHub API for commits. Once it finds one then it makes an issue on another repo. The issue has the desired labels and the body has links to the commits it finds. I have it running as a scheduled workflow which will run every hour to check

[2019-10-08 04:45] madiedgar commented on #9
I believe you are absolutely right! Let's tag team this and complete this together 👍 I'll go through and complete step 1.

Could you look into plugins (or like items) that could help us keep track of changelogs? This would be wonderful to put into practice, but want to have an informed start.

[2019-10-08 15:27] Aadithyavarma commented on #3
Updates:

- I manually downloaded `tree-sitter-legesher-python` and `tree-sitter-python`and compared the files in  `corpus` folder.

- The AST is matching for every grammar in all the `txt` files.

- The end goal would be that `tree-sitter-legesher-python` would be updated automatically if the AST is not matching with the AST in `tree-sitter-python`

Is this correct @madiedgar ? Please help me und

[2019-10-08 15:34] MythreyaK commented on #9
Okay!

I looked around and this package <code>[auto-changelog](https://www.npmjs.com/package/auto-changelog)</code>. It is able to automatically parse semantic versioning and git commit history to generate the changelog file. An example generated by the npm package is [here](https://github.com/CookPete/auto-changelog/blob/HEAD/CHANGELOG.md).

[2019-10-09 07:08] elissavetv commented on #14
Hi @madiedgar , is there a way to 'tag' issues to a specific person so we know we can work on something without overlap?

[2019-10-09 11:35] madiedgar commented on #13
That's awesome @startonmonday! The hub of translations are made in the [`legesher-translations`](https://github.com/legesher/legesher-translations) repo. I'll make an issue for you 😄 [`Add New Dialect: Russian (Python)`](https://github.com/legesher/legesher-translations/issues/20)

[2019-10-09 11:38] madiedgar commented on #11
Wow, great work @wescran! Thanks so much for tackling this!!

[2019-10-09 11:42] madiedgar commented on #3
Thanks so much @Aadithyavarma for your work on this 👍 You have the right idea! Let me look into the atom package problem today, I'll get back to you when it's resolved 🤞.  😄

[2019-10-09 15:44] madiedgar commented on #14
@elissavetv: Yes, wouldn't want y'all to overlap. 👍

As an issue is first created, the label: `Status: Available` is given as it is waiting for someone to claim it. When someone claims it, the status will change to `Status: Accepted` and that person is assigned on the issue.

We've been receiving a lot of activity in the [`legesher-translations`](https://github.com/legesher/legesher-translations)

[2019-10-10 12:55] madiedgar commented on #13
Closing this issue as the maintainer of `awesome-for-non-programmers` won't accept the pull requests. [see here](https://github.com/legesher/legesher/issues/54)

[2019-10-10 13:07] madiedgar commented on #3
Hey @Aadithyavarma, there seems to be an issue with the `language-legesher-python` atom package syncing with the github releases. Will keep you updated on the progress 👍

[2019-10-11 13:05] elissavetv commented on #14
Thanks Madie! Is there anything to work on you would recommend for a beginner?

[2019-10-11 14:11] mrmykolla commented on #14
@madiedgar Hello Madie! I would like to contribute to Open Source. I am working on Python!

[2019-10-11 18:26] MythreyaK commented on #9
Any updates?

[2019-10-11 20:01] wescran commented on #11
Hey @madiedgar I didn't realize I had to sign up for Github Actions. I am still waiting to join the beta so that I can start using them. Until then I don't think I can test what I have built. Sorry for the delay

[2019-10-12 15:42] madiedgar commented on #11
No worries @wescran! Thanks for working on that. Is there a way that I can help in getting you access to GitHub Actions?

[2019-10-12 20:51] Shtihl commented on #14
Hi! I'm total beginner, but I want to contribute something to open source, what can I did?
Thanks!

[2019-10-14 15:00] wescran commented on #11
Hey @madiedgar I was able to get access to GitHub Actions. I am currently running tests now and will bring the changes over to your repo once I'm confident it is working properly.

[2019-10-14 15:06] madiedgar commented on #11
That's amazing!!! Can't wait to see it! 😄

[2019-10-15 12:59] zolumasoft commented on #14
Hi @madiedgar. I am new to opensource contribution and mostly work in Python. One of the languages I speak is Xhosa (isiXhosa). I would like to help anyway I can with focus on isiXhosa.

[2019-10-15 14:40] madiedgar commented on #9
Hey @MythreyaK, I just opened an [issue](https://github.com/atom/apm/issues/870) on Atom's repo to see if they could help. 🤞 it gets resolved soon 😄 Thank you for your patience.

I looked into `auto-changelog` and it seems it does exactly what we're looking for! 👍

[2019-10-15 17:45] MythreyaK commented on #9
Sure thing!

I found similar issues to the one you raised [on discuss](https://discuss.atom.io/t/cant-publish-package/4890/4), [here](https://github.com/atom/apm/issues/218) and [here](https://github.com/atom/apm/issues/147).

🤞

[2019-10-16 19:30] madiedgar commented on #14
Welcome to open source, glad to have ya'll here!! Great news!! We've been receiving SO many new translations for this project and this is the repository that plays a big part of putting it all together. I'll be adding new issues tonight, so be on the lookout for those 👍

Hey @elissavetv 👋 !  We do our best to make this environment safe for beginners and are more than happy to come alongside you an

[2019-10-17 15:32] madiedgar commented on #9
Thank you @MythreyaK for all the help! You're amazing!!

We had some activity on the issue and they're going to try to redirect the atom package to this repository (I had it attached to another user). Hopefully it should be resolved soon 🤞 Thank you again for your patience!!!

[2019-10-17 17:21] MythreyaK commented on #9
Okay!
My pleasure!

[2019-10-19 14:52] madiedgar commented on #11
Closing this issue as you resolved it in #22

[2019-10-19 14:52] #11 closed

[2019-10-19 14:54] madiedgar commented on #7
Hey @calra123, let me know if you need any help on this! 👍

[2019-10-21 18:03] lexiewh commented on #14
Hello @madiedgar! I'm new to open source but I would love to help in any way I can. My strongest language is python but I'm open to help on anything I can! Just let me know if there is any issue that you would like me to help with.

[2019-10-22 00:25] madiedgar opened #24 "Add CONTRIBUTING.md file"
Add a `CONTRIBUTING.md` file in the root of the repository that contains this content:

[code]

Simple enough 👍 Please ask to be assigned to this issue so we don't have duplicates 😄

[2019-10-22 00:27] zeesh-ali commented on #24
I am picking this

[2019-10-22 00:27] madiedgar commented on #24
Awesome @zeesh-ali, I'll assign it to you 😄

[2019-10-22 01:02] zeesh-ali commented on #24
Hello Madiedgar, can you please check is the CONTRIBUTING.md file available for your merging.

[2019-10-22 01:17] zeesh-ali commented on #24
@madiedgar one check is failling

continuous-integration/appveyor/pr — AppVeyor build failed
can you please guide me, I just started this weekend.

[2019-10-22 01:21] zeesh-ali commented on #24
The system cannot find the path specified. (os error 3)
npm ERR! code ELIFECYCLE
npm ERR! errno 1

[2019-10-22 13:07] calra123 commented on #7
Sorry @madiedgar I couldn't follow up.  I actually do need help, so to get an idea of linting config files I do looked at other config files of ESLint- <https://eslint.org/docs/user-guide/getting-started>  So should I just add the linting rules of python but it depends on programmers right ? Like where they will single quotes or double quotes ? I couldn't find the language conventions file <https:

[2019-10-22 15:13] Aadithyavarma commented on #3
Hi @madiedgar,

Any updates on this?

[2019-10-22 16:20] madiedgar commented on #3
Yes and no @Aadithyavarma 🙊!

There was a bigger problem with the `language-legesher-python` package which is being taken care of in this [issue in Atom's repo](https://github.com/atom/apm/issues/870). This would be why you might be experiencing issues with this package.

Good news though, @wescran actually made an incredible contribution to create an issue every time there is an update in tree-si

[2019-10-23 14:58] madiedgar commented on #7
No worries @calra123, I updated the issue description to hopefully be a bit clearer as to what is expected. Feel free to go through [Unibeautify](https://unibeautify.com/)'s documentation, but the assistant feature is pretty helpful in creating a config.

Check out the [`legesher-translations`](https://assistant.unibeautify.com/#/) repository for an example.

[2019-10-23 17:24] rominacarabathampi commented on #14
@madiedgar Hi Madie, I am interested in the translations and tree-sitter for the Romanian locale.
I have read the READ.me files for the two projects and I believe I understood how to get started.
Please let me know if I could start working on this.
Edit: I could also work on documentation if needed.

[2019-10-24 04:38] rets-mah-ekaj commented on #24
Hello @madiedgar, can I be assigned to this as well?
I have just started open source and I think I can do this.

[2019-10-24 16:28] madiedgar commented on #24
Hey @rets-mah-ekaj 👋! You caught me - I forgot to close this issue as it was resolved by @zeesh-ali  in #26, but [this issue](https://github.com/legesher/language-legesher-python/issues/16) is open and I'll be more than happy to help you along the way 👍

[2019-10-24 16:28] #24 closed

[2019-10-24 23:18] madiedgar opened #28 "Update README link to LANGUAGE_CONVENTIONS"
## Update link in README

In [this section of the README file](https://github.com/legesher/tree-sitter-legesher-python#contributing), it links to a file in the `legesher` repository that is no longer there. Here is the [link to the new file](https://github.com/legesher/legesher/blob/master/LANGUAGE_CONVENTIONS.md).

`https://github.com/legesher/legesher/blob/master/LANGUAGE_CONVENTIONS.md`

[2019-10-24 23:19] andres-posadas commented on #28
Hello! If it is alright with you, I would like to make the PR?

[2019-10-24 23:20] madiedgar commented on #28
Absolutely @andres-posadas! Would love that!

[2019-10-24 23:36] andres-posadas commented on #28
Thank you so much!

[2019-10-24 23:36] andres-posadas commented on #28
Let me know if all looks good and well!

[2019-10-26 11:37] calra123 commented on #7
Hi @madiedgar  I added the unibeautifyrc.json file for JavaScript I am yet to add it for Python and I think [issue](https://github.com/legesher/language-legesher-python/issues) specifically handles that.

[2019-10-27 06:22] madiedgar commented on #7
Awesome @calra123, closing this issue now as it was resolved in #30

[2019-10-27 06:22] #7 closed

[2019-10-27 06:23] madiedgar commented on #28
Closing this as it was resolved in #29

[2019-10-27 06:23] #28 closed

[2019-10-27 12:23] GauravMohla commented on #10
@madiedgar can I look into this issue?

[2019-10-27 13:03] JohannaHillebrand commented on #14
Hello :) I'm new with contributing to open-source-project. I can do stuff in python, C or Java, but I don't really know how to get started, could anyone point me in the right direction? :)
(Also I'm a native german-speaker and would love help translating)

[2019-10-27 14:39] madiedgar commented on #10
Yes that would be helpful @GauravMohla !

[2019-11-13 18:03] github-actions[bot] opened #33 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/a1805d38a1284166c0ad6e795ec10dd312cd1f39

[2019-11-13 19:02] github-actions[bot] opened #34 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/6d8b611ba6c66627b9e1c50cb158cc56376c88cc

[2019-11-14 03:20] wescran opened #35 "Bugs in GitHub Action"
**Describe the bug**
I have been watching the GitHub actions daily so I could see it work in this repository but it took until today for me to see the errors.
1. Firstly, the action failed to make a new issue for commits made to tree-sitter python yesterday.
2. When it made an issue for commits made today, there were no labels being made.

**Expected behavior**
The action should be able to parse t

[2019-11-14 17:03] github-actions[bot] opened #36 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/225e757b4580ecc2b3da36d13679188b7c8abe4e

[2019-11-14 20:17] madiedgar commented on #35
Hey @wescran, no need to apologize! I got really excited to see it all in action and that's the fun of working with a new tool! Thank you so much for already taking the time to look into this. I would love to see your changes 😄

[2019-11-15 04:32] madiedgar opened #37 "Compare & update master from tree-sitter-python new commits"
Thanks to the amazing work @wescran did on Github Actions, we were notified of recent changes to the `tree-sitter-python` repo that we need to compare against our own / update if needed.

Here are the list of commits since last updated:
- [`092b667`: Add syntax highlighting query (#54)](https://github.com/tree-sitter/tree-sitter-python/commit/092b667b2f8324f1bc777579439c5514a70040d2)
- [`cab0169`:

[2019-11-15 16:10] madiedgar commented on #35
Adding these issues for reference: #33, #34, #36. 👍

[2019-11-20 19:01] madiedgar commented on #35
Closing this as it was resolved in #39. Thank you @wescran

[2019-11-20 19:01] #35 closed

[2019-11-20 19:02] madiedgar commented on #36
Closing this is it was resolved in #39

[2019-11-20 19:02] #36 closed

[2019-11-20 19:02] madiedgar commented on #34
Closing this as it was resolved in #39

[2019-11-20 19:02] #34 closed

[2019-11-20 19:02] madiedgar commented on #33
Closing as it was resolved in #39

[2019-11-20 19:02] #33 closed

[2019-11-26 02:44] madiedgar opened #42 "Update link in Github Config"
**Update Github Config Link**
The link in the `.github/config.yml` is incomplete. Please update the link to include the `.html` extension at the end of the url.

It should look like this:

[code]

[2019-11-26 08:49] #37 closed

[2019-11-26 08:54] madiedgar commented on #10
Hey @GauravMohla & @LeonardoFurtado , any update on this? We've made a couple of major updates with correlation to the updates from the `tree-sitter-python` repo.

[2019-11-26 08:57] madiedgar commented on #9
Hey @MythreyaK, just wanted to check in and let you know I haven't forgotten about this. We're still waiting on the issue from Atom to be resolved, but in the meantime please know how grateful I am.

Excited to continue working on this soon!

[2019-11-26 09:00] MythreyaK commented on #9
I was just going to comment to know the status!
My pleasure!
I'm learning things, so thank you! My exams have just finished, so I'll try drafting the PR and I'll let you know when it's ready.

[2019-11-26 09:40] madiedgar commented on #3
Hey @Aadithyavarma! Thank you so much for your patience on this. We're still waiting for the issue to be resolved with Atom for the `language-legesher-python` package error, but I can give you a little update.

@wescran recently made adjustments to our GitHub Actions to create an issue every time there is a commit on the `tree-sitter-python` repository.  This might better inform your efforts.

Our

[2019-11-27 01:11] kevintham commented on #42
Hi, I would like to work on this!

[2019-11-27 20:41] madiedgar commented on #42
That would be amazing! Thanks @kevintham, I'll assign you to this!

[2019-11-29 03:59] madiedgar commented on #42
This was fixed in #43 & #44

[2019-11-29 03:59] #42 closed

[2019-12-02 17:34] Kobi32 commented on #14
Hello Madie! I would like to contribute to Open Source. I am beginner with Pyton.

[2019-12-02 18:08] github-actions[bot] opened #45 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/0a98b7a9b6b3e2bcdf94e27116393d7f3e8eaf73

[2019-12-03 02:03] github-actions[bot] opened #46 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/75c13794ef7273df6f48c0758bcab0138856c6e1

[2019-12-09 20:01] github-actions[bot] opened #47 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/ad8d29eba845689f2ca25ca9eb6c47d375f95409

[2019-12-09 23:01] github-actions[bot] opened #48 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/118cf40115e13e95ed3ac4c0e05c0534e07bc0fa<br />https://github.com/tree-sitter/tree-sitter-python/commit/e3e9624ea555d2312955056a4deb19a4fd08a4b3

[2019-12-15 02:47] #45 closed

[2019-12-15 02:47] #48 closed

[2019-12-15 02:47] #47 closed

[2019-12-15 02:47] #46 closed

[2020-01-04 14:29] sgayangi commented on #14
Hello :) I'm a beginner with open source projects but I would love to start learning. Is there any way in which I can help?

[2020-01-17 01:02] github-actions[bot] opened #51 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/899ac8d5d6c883b2f05362c9953e14e78aac474c

[2020-02-27 15:56] ghost commented on #14
Hey. Just like many other people here, I have never really contributed to an open source project, but I'd like to get started with contributing to open source to advance my skills. Is there any way I could help here? The programming languages I'm most fluent in are Java and Python.

[2020-02-28 23:04] github-actions[bot] opened #52 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits:

[2020-03-02 22:03] github-actions[bot] opened #53 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/2eb10f46f0fb222a874f1de087437c49b57a9582

[2020-03-05 18:04] github-actions[bot] opened #54 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/aeebb11063d4f4607200bba64f5fc86e45fab897

[2020-03-05 22:03] github-actions[bot] opened #55 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/4cca050b68bf42ddff6cbc0077ce4990467a2ec6

[2020-03-24 01:02] github-actions[bot] opened #56 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits:

[2020-03-24 06:03] github-actions[bot] opened #57 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits:

[2020-04-01 23:25] wescran opened #58 "Bug in GitHub Action"
**Describe the bug**
Hello @madiedgar! I had thought everything was right with my action but in the past couple of days I have been noticing some weird behavior with the shell script involved. I think I figured out what was wrong and am working on a fix now. Basically the script had poor test handling where it wasn't finding any commits but the check was resulting in a false positive. I apologize

[2020-04-02 21:04] github-actions[bot] opened #59 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits:

[2020-04-06 21:31] madiedgar commented on #58
Thank you so much @wescran for looking into this! Really appreciate it. I'll keep an eye on the issue in your repo. 👍

[2020-04-06 21:31] #59 closed

[2020-04-10 17:17] MatijaBenko commented on #14
Hello, reiterating from everyone else I am very new to open-source projects and pretty much want to get my hands dirty. I would like to help in any aspect possible, it has been awhile since I had coded in python, but I should be able to succeed. I hope I may be of help!

[2020-05-01 18:03] github-actions[bot] opened #60 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/0603b5e978318afe77458ad85d5ee05a90f4fdb3

[2020-05-07 22:07] mohammedowais2492 commented on #14
Hello, I have never contributed to any open source project before and I want to get started. Is there any way I can contribute to this project? I have experience coding in Python.

[2020-05-14 22:03] github-actions[bot] opened #61 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/649e75256e020db41543f31bc84d46b86724ebb0<br />https://github.com/tree-sitter/tree-sitter-python/commit/d4b72e96979d740e00b7f89d6316656c765ccb62

[2020-05-19 15:03] github-actions[bot] opened #62 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/3b50dc64f09bea07f7144a52f557f1ca69bfa15e

[2020-05-27 21:05] github-actions[bot] opened #63 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/f45949f9751a94b4e5fd74dc0fc4af5e533b7dd1

[2020-05-28 00:16] github-actions[bot] opened #64 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/2a7098abcfa2197854589f8e2dd557a15658b138

[2020-06-10 23:59] #60 closed

[2020-06-11 00:00] #64 closed

[2020-06-11 00:00] #63 closed

[2020-06-11 00:00] #62 closed

[2020-06-11 00:00] #61 closed

[2020-06-11 00:00] #57 closed

[2020-06-11 00:00] #56 closed

[2020-06-11 00:00] #55 closed

[2020-06-11 00:00] #54 closed

[2020-06-11 00:00] #53 closed

[2020-06-11 00:00] #52 closed

[2020-06-11 00:00] #51 closed

[2020-07-17 23:05] github-actions[bot] opened #66 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/29c0d5175170b3f278efe1196843ba3d96c93536

[2020-07-18 03:42] madiedgar opened #67 "FEAT: Add Legesher-Translations API into package for language translations"
# Add Legesher-Translations API into package for language translations

**NOTE**: This issue is still in the development as it is determined by the progress made on the legesher-translations repository.

This feature is to incorporate any new translation that becomes available in the legesher-translation repository into this node module (and thus available through language-legesher-python atom pac

[2020-07-20 23:05] github-actions[bot] opened #68 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/d00b1d4016bdaf74e24a1fbddcfd07e08deebcd0

[2020-07-22 01:06] github-actions[bot] opened #69 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits:

[2020-07-26 04:22] madiedgar opened #70 "Update: Sync latest changes from TreeSitter to repo"
This repository is closely related to Tree Sitter's tree-sitter-python repo. Reviews of the latest commits from that repo should be made to see if we need to update anything in this repository. See the following:

- #66
- #68
- #69

[2020-08-07 04:02] maxtan1999 opened #71 "Could not install "language-legesher-python" in Atom"
**Describe the bug**
By following the installation steps given in the README.md, I am stuck at the 4th step which is need to install the package, the package is not available inside the Atom while when try to redirect it from the web, I can see the installation button but it does not help me installing the package either.

**To Reproduce**
To reproduce the error:
1. Find the package is it still av

[2020-09-02 14:58] madiedgar commented on #71
Thanks for submitting this bug @maxtan1999, I'll look into it! 👍

[2020-09-08 19:07] github-actions[bot] opened #73 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/58f57240834d6b88624e32ad0ab9531d55fb7a5d<br />https://github.com/tree-sitter/tree-sitter-python/commit/6109e4e7bcc59054705f4e05a066804930562993<br />https://github.com/tree-sitter/tree-sitter-python/co

[2020-09-14 04:32] KaiGucci commented on #14
Hi @madiedgar, I'm new to open source projects on GitHub and was wondering how I could help out. I have some experience in Python and Javascript. I am also fluent in Japanese and I would love to help translate.

[2020-09-21 21:08] github-actions[bot] opened #74 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/30f538aa1f932a2864c102694761d3127a61dc68

[2020-10-01 08:24] shyamcody commented on #14
Hi! I am new to open source projects on Github and I was interested to work on something based on python. Is there any issue that I can contribute to?

[2020-10-02 03:20] hessau commented on #14
Hi! I'm knew in open source and programming but I have tried python for back-end with flask and MySQL, and JavaScript in front-end and I'm from Mexico so I can understand Spanish How could I help?

[2020-10-02 05:16] madiedgar opened #75 "🍁💻 Welcome to Hacktoberfest 2020 🍁💻"
<img width="826" alt="Screen Shot 2020-10-01 at 11 45 35 PM" src="https://user-images.githubusercontent.com/7844510/94886159-35163d00-0440-11eb-8310-717517021b40.png">

# Welcome to [Hacktoberfest](https://hacktoberfest.digitalocean.com/)
..and welcome to our community! So many fun things to get into this Hacktoberfest like [adding translations for your native written language 🌏 ](https://github.c

[2020-10-04 11:41] JDeepD commented on #75
Is there any beginner friendly repositories?

[2020-10-05 20:49] Medham278 commented on #14
Hi ! I want to contribute here. I am good with Python programming,have worked on a few personal projects as well, but have never worked with open source. Please guide me regarding how to move forward to contributing here.

[2020-10-05 20:52] Medham278 commented on #75
Hi ! I want to contribute here. I am good with Python programming,have worked on a few personal projects as well, but have never worked with open source. Please guide me regarding how to move forward to contributing here.

[2020-10-15 03:00] madiedgar commented on #75
Hi @Nova-Striker 👋 , I try to make each of the repositories of the project beginner-friendly and open to all types of contributing. Is there a specific way you're wanting to contribute? 👍

Hi @Medham278 👋 , that would be greatly appreciated! Welcome to open source!! I'll write out some user stories in issues that I would love your help on that could build upon your understanding of python. Is ther

[2020-10-15 19:59] Medham278 commented on #75
@madiedgar Thank you, can you please guide me so I can start helping. :)

[2020-10-18 22:10] thisLinda commented on #75
@madiedgar I am also interested in working on your project.

[2020-10-26 20:10] github-actions[bot] opened #77 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/ca699bbf160e65bb01fc6024131671631d242bc8

[2020-10-27 00:26] wescran commented on #58
I am so sorry for the wait. I have open PR's with the fix to the workflows.

[2020-10-27 17:09] github-actions[bot] opened #79 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/6618e79f8854e42f355eeaa1603f430ceb08a5b0

[2020-10-27 18:11] github-actions[bot] opened #80 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: <br />https://github.com/tree-sitter/tree-sitter-python/commit/d245768132eb6cb74d8a394ca4d29dc57169b096

[2020-10-28 05:10] github-actions[bot] opened #81 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits:

[2020-10-29 07:47] madiedgar commented on #58
No worries! Thank you so much for the update 👍

[2020-10-29 07:51] #66 closed

[2020-10-29 07:51] #68 closed

[2020-10-29 07:51] #69 closed

[2020-10-29 07:51] #70 closed

[2020-10-29 07:51] #73 closed

[2020-10-29 08:11] #58 closed

[2020-10-29 08:29] madiedgar opened #82 "Update: Sync latest issues from Tree-Sitter master"
This repository is closely related to Tree Sitter's tree-sitter-python repo. Reviews of the latest commits from that repo should be made to see if we need to update anything in this repository. See the following:

- #74
- #77
- #79
- #80
- #81

[2020-11-02 22:11] wescran commented on #58
Hello, sorry for re-opening this issue. I found another bug from my update but have released a fix. If you want I can open another PR, or you can just change the version number to `v2.1.0` in the workflow file. Let me know what you would prefer. Thanks

[2020-11-23 08:40] #74 closed

[2020-11-23 08:40] #77 closed

[2020-11-23 08:40] #79 closed

[2020-11-23 08:40] #80 closed

[2020-11-23 08:40] #81 closed

[2020-11-23 08:40] #82 closed

[2020-11-24 06:39] madiedgar commented on #71
Hey @maxtan1999, was able to find the source of the bug and made a patch. Check out version 0.58.3 🎉

[2020-11-24 06:39] #71 closed

[2020-12-14 23:09] github-actions[bot] opened #86 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: https://github.com/tree-sitter/tree-sitter-python/commit/774533a241106dc442c3df8a6344bd62838bb456

[2020-12-15 18:09] github-actions[bot] opened #87 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: https://github.com/tree-sitter/tree-sitter-python/commit/65b486b42fe0188e4be344092151042bf1bc6d9a<br/>https://github.com/tree-sitter/tree-sitter-python/commit/10eaa00fecfd1ef7a92e7b839a3f4067844c1e1e

[2021-01-05 08:42] #86 closed

[2021-01-05 08:42] #87 closed

[2021-01-06 21:12] github-actions[bot] opened #89 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: https://github.com/tree-sitter/tree-sitter-python/commit/cc0a5f8cd6ac203583778bfba7386193cb150b60<br/>https://github.com/tree-sitter/tree-sitter-python/commit/3b682f0f6f1347ec4c40361955ba51478e1b3a3d<br/>https://github.com/tree-sitter/tree-sitter-python/commit/945

[2021-01-06 22:18] github-actions[bot] opened #90 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: https://github.com/tree-sitter/tree-sitter-python/commit/f568dfabf7c4611077467a9cd13297fa0658abb6

[2021-01-19 19:48] github-actions[bot] opened #91 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: https://github.com/tree-sitter/tree-sitter-python/commit/3196e288650992bca2399dda15ac703c342a22bb<br/>https://github.com/tree-sitter/tree-sitter-python/commit/87e874f23e1bbfc4bd160caa3bad03de250c8b9f

[2021-03-04 01:38] github-actions[bot] opened #92 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: https://github.com/tree-sitter/tree-sitter-python/commit/3466c34c6aa5dd8d9328479db9c6b4f3320f42e2<br/>https://github.com/tree-sitter/tree-sitter-python/commit/d68ac55bc6b5c1698917473f897b639ad5aff825<br/>https://github.com/tree-sitter/tree-sitter-python/commit/79e

[2021-03-06 00:23] github-actions[bot] opened #93 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: https://github.com/tree-sitter/tree-sitter-python/commit/dd98afca32aaceff9025f9e85031ac50bee8b08b

[2021-03-09 21:08] github-actions[bot] opened #94 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: https://github.com/tree-sitter/tree-sitter-python/commit/4390acc11d9b1253bdc8cb66ef959c30cc1eb9fb<br/>https://github.com/tree-sitter/tree-sitter-python/commit/12f441a938e9323fa0c5ea4641536e0a65cf54a6<br/>https://github.com/tree-sitter/tree-sitter-python/commit/3ca

[2021-03-09 23:10] github-actions[bot] opened #95 "New commit to tree-sitter/tree-sitter-python"
There was a new commit/commits to tree-sitter/tree-sitter-python, please check the newly updated codebase. Here are the recent commits: https://github.com/tree-sitter/tree-sitter-python/commit/20729b3e2fe70d13c1dd9f400382871a5fe95255<br/>https://github.com/tree-sitter/tree-sitter-python/commit/becd8d76b447cc15bd7a539d87500ded179d673b

[2021-06-24 03:28] #89 closed

[2021-06-24 03:28] #90 closed

[2021-06-24 03:28] #91 closed

[2021-06-24 03:28] #92 closed

[2021-06-24 03:28] #93 closed

[2021-06-24 03:28] #94 closed

[2021-06-24 03:28] #95 closed

[2021-09-25 02:42] madiedgar opened #101 "RangeError: Incompatible language version for Atom's language-legesher-python"
**Describe the bug**
When opening a python (.py) file in Atom with the `language-legesher-python` package enabled and the `language-python` core package disabled, the syntax highlighting is not applied. It looks like a typical text file but Atom detects that it should serve the file as __Legesher Python (English)__.

**Screenshots**
[code]

**Desktop (please complete the following information):**

[2021-09-25 03:32] #101 closed

[2021-09-30 17:06] madiedgar opened #102 "🍂 💻 Welcome to Hacktoberfest 2021 🍂💻"
<img width="826" alt="banner08CRredlogo" src="https://user-images.githubusercontent.com/7844510/135486878-738f39ab-f7a3-4816-9eed-efef2915d0ce.png">

# Happy [Hacktoberfest](https://hacktoberfest.digitalocean.com/)
..and welcome to our community! This is our third Hacktoberfest and we're excited for what we'll build together! So many fun things to get into this Hacktoberfest like [adding translati

[2021-09-30 17:44] #75 closed

[2021-09-30 17:44] #14 closed

[2021-10-20 18:45] mohitsaxenaknoldus commented on #10
Hey @madiedgar can I work on this?

[2021-11-05 03:40] #102 closed